---
layout : default.html
title : Nippon Sri Lanka
---


<section class="home-block-slider">


        <div class="slider-item">
            <div class="slider-text">
                <h2>
                    Be inspired!
                </h2>
                <h3>
                    Get the latest paint colour trends 2019<br>
                    from our Nippon Paint catalogue.
                </h3>
                <a href="#">
                    Download PDF
                </a>
            </div>
            <img src="{{assets}}images/slide-1.jpg" alt="">
        </div>

</section>

<section class="home-block-paints">

    <div class="col-md-3">

        <a href="#">

            <h2>
                Decorative
            </h2>
            <p>
                Over 20 Million Popular Products<br>
                Weekly Deals Starting at 30% Off
            </p>

            <button class="btn btn-outline-light">
                View products <img src="{{assets}}svg/right-arrow.svg" alt="">
            </button>


            <img src="{{assets}}images/decorative_img.jpg" alt="">
            
        </a>

    </div>
    <div class="col-md-3">

        <a href="#">

            <h2>
                Decorative
            </h2>
            <p>
                Over 20 Million Popular Products<br>
                Weekly Deals Starting at 30% Off
            </p>

            <button class="btn btn-outline-light">
                View products <img src="{{assets}}svg/right-arrow.svg" alt="">
            </button>


            <img src="{{assets}}images/decorative_img.jpg" alt="">

        </a>

    </div>
    <div class="col-md-3">

        <a href="#">

            <h2>
                Decorative
            </h2>
            <p>
                Over 20 Million Popular Products<br>
                Weekly Deals Starting at 30% Off
            </p>

            <button class="btn btn-outline-light">
                View products <img src="{{assets}}svg/right-arrow.svg" alt="">
            </button>


            <img src="{{assets}}images/decorative_img.jpg" alt="">

        </a>

    </div>
    <div class="col-md-3">

        <a href="#">

            <h2>
                Decorative
            </h2>
            <p>
                Over 20 Million Popular Products<br>
                Weekly Deals Starting at 30% Off
            </p>

            <button class="btn btn-outline-light">
                View products <img src="{{assets}}svg/right-arrow.svg" alt="">
            </button>


            <img src="{{assets}}images/decorative_img.jpg" alt="">

        </a>

    </div>


</section>