---
layout : default.html
title : About
---


<div class="page-header page-big about_bg">
    <div class="page-title">
        <h2>
            ABOUT <br>
            MILLENNIAL PROPHET
        </h2>
    </div>
    <div class="overlay"></div>
</div>

<div class="page-content about-mp">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-7">
                <h2 class="text-blue">
                    WHO WE ARE
                </h2>
                <p>
                    At New Creation Church, we believe we are God’s beloved. He demonstrated this by freely giving up
                    heaven’s
                    best, His only Son Jesus, for you and me. When we catch a revelation of this truth, we are
                    transformed by
                    His grace from the inside out. That’s the beauty of believing and living in our heavenly Father’s
                    love and
                    grace! No matter who you are or where you come from, there’s always a place for you in our church
                    family!
                </p>
            </div>
        </div>


    </div>


    <img src="{{assets}}images/jesus_img.jpg" alt="" class="page-full-image">
    <div class="container" style="margin-top:-120px;">
        <div class="row justify-content-center">

            <div class="col-md-7">
                <h2 class="text-white">WHAT JESUS DID FOR YOU</h2>
                <p>
                    &nbsp;
                </p>
                <p>
                    At New Creation Church, we believe we are God’s beloved. He demonstrated this by freely giving up
                    heaven’s best, His only Son Jesus, for you and me. When we catch a revelation of this truth, we are
                    transformed by His grace from the inside out. That’s the beauty of believing and living in our
                    heavenly Father’s love and grace! No matter who you are or where you come from, there’s always a
                    place for you in our church family!
                </p>
            </div>

        </div>

    </div>


    <div class="container">
        <p>
            &nbsp;
        </p>


        <div class="row no-gutters justify-content-center ministry-links">

            <div class="col-md-7">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/W2Cv5hZfOmk" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                <h4>
                    His Heart To Heal You
                </h4>
                <p>

                    How willing is God to heal you today? Let this animation clip show you how God does not just have
                    the power but also the heart to supply your area of need. Beloved, Jesus has already done everything
                    necessary to redeem you and restore you to sweet fellowship with Him and God the Father.
                    <br>
                    <br>

                    But His finished work can only become real in your life if you make a personal decision to accept
                    Him. Accepting Jesus as your Lord and Saviour will not only save you from hell, but also give you
                    love, peace, joy, hope, unconditional acceptance, favour, health and every good thing that you can
                    think of and more! If you would like to accept Jesus and all that He has done for you, say this
                    prayer and mean it from your heart:

                </p>


                <h2>
                    MINISTRIES
                </h2>
                <p>

                    At New Creation Church, we believe that serving Jesus, our Saviour King, is an overflow from
                    receiving His abundance of grace and knowing how much He loves us! We also consider it a privilege
                    to serve using the talents He has given us, knowing that our labour of love will not be in vain when
                    it is sown in His name (Ref: Hebrews 6:10).
                    <br><Br>
                    If you have been attending our church regularly and your heart is stirred to make a difference in
                    the lives of others, come volunteer with us!
                </p>


                <ul>

                    <li>
                        <a href="#">
                            Broadcast
                        </a>

                        <a href="#">Chinese Ministry</a>
                        <a href="#">Communications</a>
                        <a href="#">Information Technology</a>
                        <a href="#">Logistics & Transport</a>
                    </li>

                    <li>
                        <a href="#">
                            Broadcast
                        </a>

                        <a href="#">Chinese Ministry</a>
                        <a href="#">Communications</a>
                        <a href="#">Information Technology</a>
                        <a href="#">Logistics & Transport</a>
                    </li>

                    <li>
                        <a href="#">
                            Broadcast
                        </a>

                        <a href="#">Chinese Ministry</a>
                        <a href="#">Communications</a>
                        <a href="#">Information Technology</a>
                        <a href="#">Logistics & Transport</a>
                    </li>
                </ul>

            </div>

        </div>


    </div>
</div>