header{
background:#14428F;
height:95px;


nav{
position: relative;
	ul{
		list-style:none;
		li{
			display:inline-block;
		}
	}
}

	section.top-header{

background:$nippon_blue;

a.btn-cart{

}

	}
}
