

$base_font:'Poppins', sans-serif;
$nippon_blue:#133A7D;


body{
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
	font-family:$base_font;
}

.container{
	width:1280px;
}
