<header>


    <section class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-8 menu-items-left">
                    <div class="social-icons">
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </div>

                    <div class="contact-no">
                        <a href="tel:+94112325554">
                            <img src="{{assets}}svg/call.svg" alt="">+94 112 325 554
                        </a>
                    </div>
                    <div class="site-info">
                        <p>
                            WELCOME TO NIPPON PAINT SRI LANKA
                        </p>
                    </div>
                </div>

                <div class="col-md-4 menu-items-right">
                    <div class="btn-cart-info">
                        <a href="#">
                            <span>02</span>
                            <img src="{{assets}}svg/cart.svg"/>
                            Cart
                        </a>
                    </div>

                    <div class="btn-user-account">
                        <a href="#">
                            <img src="{{assets}}svg/account.svg"/>
                            Login / Register
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </section>


    <section class="bottom-header">

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="/home" class="site-brand">
                        <img src="{{assets}}images/nippon-logo.jpg" alt="Nippon logo" title="Nippon Sri Lanka"/>
                    </a>

                </div>

                <div class="col-sm-8">
                    <nav>


                        <ul>
                            <li>
                                <a href="#">
                                    PRODUCTS
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    STORES
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    COLOR CARDS
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    SERVICES
                                </a>
                            </li>

                            <li>
                                <a href="#" class="menu-item-shop-now">
                                    <img src="{{assets}}svg/bag.svg" alt=""> Shop online
                                </a>
                            </li>

                            <li>
                                <a href="#" class="menu-item-search">
                                    <img src="{{assets}}svg/search.svg"/>
                                </a>
                            </li>

                        </ul>

                    </nav>
                </div>

            </div>

        </div>

    </section>

</header>
